body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Timer-display {
  display: flex;
  justify-content: center;
}

.Timer-display div {
  margin: 0 20px;
}

.Timers button {
  border: 2px solid black;
  background: white;
  border-radius: 5px;
  width: 100px;
  height: 25px;
  cursor: pointer;
  margin: 35px 20px;
}

.Timers button:hover {
  color: #00968a;
  border-color: #00968a;
  
}
.btns{
  justify-content: center;
  display: flex;
}
.Timers section {
  width: 340px;
  height: 500px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  border-radius: 10px;
  margin-top: 40px;
}